.btn {
  width: 100%;
  padding: 7px 21px;
  font-size: 15px;
  // font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: white;
  border: transparent;
  border-radius: 5px;
  background-color: #1976d2;
  box-shadow: 2px 2px 3px 0px rgb(185, 185, 185);
  cursor: pointer;
}

.btn:hover {
  background-color: #0d5398;
}
