<div class="block-task">
    <h3 class="block-title">{{blockTitle}}</h3>
    <div class="wrapper" (dragend)="onDragEnd(blockTitle)" (dragenter)="onDragEnter(blockTitle)">
        <div class="button-wrapper">
            <app-button text="+" (clickEmitter)="onAddDetailClick(blockTitle)"></app-button>
        </div>

        <ul id="drop_zone" class="list" (dragover)="onDragOverHandle(blockTitle)">
            <li №dap *ngFor="let detail of details|async" draggable="true" (dragstart)="onDragStartHandle(detail)">
                <app-task [idTask]="detail._id" [taskName]="detail.name">
                </app-task>
            </li>
        </ul>
    </div>
</div>
<!-- #B9B0B0 -->