.block-task {
  width: 25vw;
  max-width: 450px;

  text-align: center;
}

.block-title {
  padding-bottom: 10px;
}

.button-wrapper {
  padding: 10px 0;
}

.wrapper {
  padding: 10px;

  border-radius: 5px;
  text-align: center;

  background-color: #f0f0f0;
  box-shadow: 5px 5px 10px 0px rgb(185, 185, 185);
}

.list {
  min-height: 50px;
}

li {
  padding: 10px 0;
}
