<div class="block-task">
    <h3 class="block-title">{{blockTitle}}</h3>
    <div class="wrapper">
        <div class="button-wrapper">
            <app-button text="+" (clickEmitter)="onAddDetailClick(blockTitle)"></app-button>
        </div>

        <ul id="drop_zone" class="list" (dragover)="onDragOverHandle($event)"
            (dragenter)="onDragEnter($event, blockTitle)">
            <li *ngFor="let detail of details|async" draggable="true" (dragstart)="onDragStartHandle($event, detail)">
                <app-task [idTask]="detail._id" [taskName]="detail.name">
                </app-task>
            </li>
        </ul>
    </div>
</div>
<!-- #B9B0B0 -->