.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 20px;

  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.menu-button > img {
  width: 3px;
}

.menu-button > img + img {
  margin-top: 3px;
}
