<!-- <form #authForm="ngForm"> -->
<div class="container">
    <form (ngSubmit)="onLogin()" #f="ngForm" *ngIf="isVisible">
        <label for="email">E-mail</label>
        <input type="email" name="email" autocomplete="false" required ngModel>
        <label for="password">Password</label>
        <input type="password" name="password" autocomplete="false" required ngModel>

        <!-- <app-input inputName="email" inputType="email" inputTitle="E-mail"></app-input>
        <app-input inputName="password" inputType="password" inputTitle="Password"></app-input> -->
        <app-button text="Log in" btnType="submit"></app-button>
    </form>
</div>