<app-buttons-list>
    <form>
        <select id="selectMethod" name="method">
            <option value="byName">Sort by name</option>
            <option value="byDate">Sort by date</option>
        </select>
        <ul class="buttons-list">
            <li>
                <app-button (clickEmitter)="clickHandler3()" text="ASC" btnType="submit"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="clickHandler4()" text="DESC" btnType="submit"></app-button>
            </li>
        </ul>

    </form>

</app-buttons-list>