.container {
  padding: 30px;

  background-color: beige;
  border-top: 2px solid white;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-button-wrapper {
  max-width: 120px;
}

.router-link {
  color: inherit;
}

.boards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  list-style: none;
}

.boards-list-item {
  position: relative;
}
