<div class="container">
    <div class="dashboard-header">
        <h3>DASHBOARD</h3>
        <ul class="buttons-list">
            <li>
                <app-button (clickEmitter)="clickHandler1()" text="Filter"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="clickHandler2()" text="Sort By Dropdown"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="clickHandler3()" text="ASC"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="clickHandler4()" text="DESC"></app-button>
            </li>
        </ul>
    </div>

    <ul class="boards-list">
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
        <li>
            <app-board></app-board>
        </li>
    </ul>

</div>