<div class="container">
    <div class="dashboard-header">
        <h3>DASHBOARD</h3>
        <ul class="buttons-list">
            <li>
                <app-button (clickEmitter)="clickHandler1()" text="Filter"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="clickHandler2()" text="Sort by dropdown"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="onAscSortingByName()" text="ASC"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="onDscSortingByName()" text="DESC"></app-button>
            </li>
        </ul>

    </div>

    <div class="add-button-wrapper">
        <app-button text="ADD NEW BOARD" (click)="onAddNewBoardClick($event)"></app-button>
    </div>

    <ul class="boards-list">
        <li class="boards-list-item" *ngFor="let board of boards|async">
            <app-buttons-block [boardId]="board._id"></app-buttons-block>
            <a class="router-link" [routerLink]="[board._id,'details']" (click)="onRouterLinkClick($event, board.name)">
                <app-board [id]="board._id" [boardName]="board.name" [creationDate]="board.creationDate"
                    [description]="board.description"></app-board>
            </a>
        </li>
    </ul>

</div>