.container {
  padding: 30px;
  background-color: beige;
  border: 2px solid rgb(255, 0, 0);
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-list {
  display: flex;
  list-style: none;
}

.buttons-list > li:not(:last-child) {
  margin-right: 10px;
}

.boards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  list-style: none;
}
