<div class="container" (dragend)="onDragEnd()">
    <div class="details-header">
        <h3>{{boardName}}</h3>
        <ul class="buttons-list">
            <li>
                <app-button (clickEmitter)="onFilterBtnClick()" text="Filter"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="onSortBtnClick()" text="Sort by dropdown"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="onAscBtnClick()" text="ASC"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="onDscBtnClick()" text="DESC"></app-button>
            </li>
        </ul>
    </div>
    <div class="tasks-lists-wrapper">
        <app-tasks-list blockTitle="Todo" [details]="todoList" (taskListEmitter)="archivingTask($event)">
        </app-tasks-list>
        <app-tasks-list blockTitle="In progress" [details]="inProgressList" (taskListEmitter)="archivingTask($event)">
        </app-tasks-list>
        <app-tasks-list blockTitle="Done" [details]="doneList" (taskListEmitter)="archivingTask($event)">
        </app-tasks-list>
    </div>


</div>