<div class="container">
    <div class="details-header">
        <h3>{{boardName}}</h3>
        <ul class="buttons-list">
            <li>
                <app-button (clickEmitter)="clickHandler1()" text="Filter"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="clickHandler2()" text="Sort By Dropdown"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="clickHandler3()" text="ASC"></app-button>
            </li>
            <li>
                <app-button (clickEmitter)="clickHandler4()" text="DESC"></app-button>
            </li>
        </ul>
    </div>
    <div class="tasks-lists-wrapper">
        <app-tasks-list blockTitle="Todo" [details]="todoList"></app-tasks-list>
        <app-tasks-list blockTitle="In progress" [details]="inProgressList"></app-tasks-list>
        <app-tasks-list blockTitle="Done" [details]="doneList"></app-tasks-list>
    </div>


</div>