<header>
    <a class="left-wrapper" routerLink="/login">
        <img class="logo-angular" src="../../../assets/images/angular.png" alt="angular">
        <p>Welcome!</p>
    </a>
    <nav class="navigation">
        <a class="nav-link" routerLink="/login" *ngIf="isLogined|async">Home</a>
        <a class="nav-link" routerLink="/boards" *ngIf="isLogined|async">Show dashboard</a>
    </nav>
    <div class="right-wrapper" *ngIf="isLogined|async">
        <div class="avatar-wrapper">
            <app-avatar> </app-avatar>
        </div>
        <app-button text="Log out" (clickEmitter)="onLogOut()"></app-button>
    </div>
</header>