header {
  display: flex;
  align-items: center;
  justify-content: end;

  padding: 30px;
  font-size: 24px;
  font-weight: 600;

  background-color: #f0f0f0;
  color: Red;
}

.avatar-wrapper {
  margin-right: 20px;
}
