header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 30px;
  font-size: 30px;
  font-weight: 800;
  font-family: Roboto, sans-serif;

  // color: #1976d2;
  background-color: rgba(134, 134, 134, 0.25);
}
.left-wrapper {
  display: flex;
  align-items: center;
}
.logo-angular {
  width: 30px;
  margin-right: 10px;
}

.right-wrapper {
  display: flex;
  align-items: center;
  // justify-content: center;
}
.avatar-wrapper {
  margin-right: 20px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  width: fit-content;
  padding: 7px 21px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  border: 2px solid #1976d2;
  box-shadow: 2px 2px 3px 0px rgb(185 185 185);
  color: white;
  background-color: #1976d2;
}

.nav-link:not(:last-child) {
  margin-right: 40px;
}

.nav-link:hover {
  background-color: white;
  color: #1976d2;
}

p {
  color: #1976d2;
}
