<form (ngSubmit)="onOkSubmit()" #f="ngForm">
    <label for="nameBoard">Name of the board</label>
    <input type="text" name="nameBoard" autocomplete="false" required ngModel>
    <label for="description">Description</label>
    <textarea rows="5" cols="1" name="description" required ngModel></textarea>
    <div class="btn-wrapper">
        <app-button class="btn-item" text="Add" btnType="Submit"></app-button>
        <app-button class="btn-item" text="Close" (clickEmitter)="onCloseBtnClick()"></app-button>
    </div>
</form>