.comment-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-text {
  width: 95%;
  font-size: 12px;
  text-align: left;
}

.btn-close {
  width: 20px;
  height: 20px;
  padding: 4px;

  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
