.container {
  display: flex;
  justify-content: center;
  padding: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 290px;
  padding: 20px 35px 35px;
  border-radius: 5px;

  font-family: "Roboto", sans-serif;

  background-color: #f0f0f0;
  box-shadow: 5px 5px 10px 0px rgb(185, 185, 185);
}

.form-title {
  margin-bottom: 20px;
  color: #1976d2;
}

input {
  width: 100%;
}
input {
  margin-bottom: 12px;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
  border-radius: 2px;
}

label {
  margin-bottom: 1px;
  align-self: flex-start;
  font-weight: 500;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-link {
  max-width: 100%;
  padding: 7px 21px;
  margin-right: 10px;
  font-size: 15px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: white;
  border: transparent;
  background-color: #1976d2;
  box-shadow: 2px 2px 3px 0px rgb(185, 185, 185);
  cursor: pointer;
}

.signup-link:hover {
  background-color: #0d5398;
}
