<div class="backdrop" *ngIf="isAddBoardModalVisible$|async as isAddBoardModalVisible"
    (click)="onAddBoardBackdropClick($event)">
    <app-form-add-board></app-form-add-board>
</div>
<div class="backdrop" *ngIf="isEditBoardModalVisible$|async as isEditBoardModalVisible"
    (click)="onEditBoardBackdropClick($event)">
    <app-form-edit-board></app-form-edit-board>
</div>
<div class="backdrop" *ngIf="isAddDetailModalVisible$|async as isAddDetailModalVisible"
    (click)="onAddDetailBackdropClick($event)">
    <app-form-add-details></app-form-add-details>
</div>

<div class="backdrop" *ngIf="isEditDetailModalVisible$|async as isEditDetailModalVisible"
    (click)="onEditDetailBackdropClick($event)">
    <app-form-edit-detail></app-form-edit-detail>
</div>

<div class="backdrop" *ngIf="isAddCommentModalVisible$|async as isAddCommentModalVisible"
    (click)="onAddCommentBackdropClick($event)">
    <app-form-add-comment></app-form-add-comment>
</div>