.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;

  background-color: #e0e0e0;
  box-shadow: 2px 2px 2px 0px rgb(185, 185, 185);
  cursor: move;
}

.archive {
  width: 20px;
  height: 20px;
  padding: 2px;

  border-radius: 2px;
  border: none;
  // border: 1px solid black;
  box-shadow: 2px 2px 2px 0px rgb(185, 185, 185);
  cursor: pointer;
}
.task-name {
  width: 80%;
  padding: 0 5px;
  overflow: hidden;
  text-align: left;
}
