<div [id]="idTask" class="task-item">
    <div class="btn-wrapper">
        <button class="btn-item archive" type="button" (click)="taskEmitter.emit(idTask)">
            <img src="../../../assets/images/archive-blue-2.png" alt="Archive icon">
        </button>
        <button class="btn-item comment" type="button">
            <img src="../../../assets/images/add-comment-blue.png" (click)="onAddComment()" alt="Add comment icon">
        </button>
    </div>

    <div class="text-wrapper">
        <p class="task-name">{{taskName}}</p>
        <app-menu-button [id]="idTask"></app-menu-button>
    </div>

    <ul class="comments-list">
        <li class="comments-list-item" *ngFor="let comment of comments|async">
            <app-comment [commentText]="comment.text" *ngIf="comment.detailId===idTask"></app-comment>
        </li>
    </ul>


</div>